{% load static %}

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-2">
                <img class="img-thumbnail" src="{% static 'img/question.svg' %}" alt="">
                <div>
                    <input class="form-control" type="number" value="5" placeholder="Default input"
                        aria-label="default input example">
                </div>
            </div>
            <div class="col-10">
                <h5 class="card-title">
                    <!-- <a href="question/{{ question.id }}">{{ question.title }}</a> -->
                    <a href="{% url 'one_question' question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">
                    {{ question.text }}
                </p>
                <div class="d-flex gap-5">
                    <a href="#" class="card-link">Answer (3)</a>
                    <div>
                        Tags:
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>